@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  /* --grayish-blue: hsl(217, 19%, 38%); */
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BASE */

body {
  background: var(--dark-blue);
  font-family: "Manrope", sans-serif;
}

img {
  max-width: 100%;
}

.btn {
  user-select: none;
  cursor: pointer;
}

/* APP */

.container {
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
}

.card {
  width: 90vw;
  max-width: 540px;
  padding: 42px 16px 58px;
  border-radius: 12px;
  position: relative;
  background: var(--dark-grayish-blue);
  margin-bottom: 32px;
}

.quote_id {
  color: var(--neon-green);
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: normal;
}

.quote {
  color: var(--light-cyan);
  font-size: 24px;
  margin: 24px 0;
  font-weight: 800;
}
.quote::before {
  content: open-quote;
}
.quote::after {
  content: close-quote;
}

.divider {
  display: block;
  width: 100%;
  padding: 16px;
}

.btn {
  background: var(--neon-green);
  width: 64px;
  height: 64px;
  display: grid;
  place-content: center;
  margin: auto;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -32px;
  transition: 0.3s all;
}
.btn:hover {
  box-shadow: 0 0 26px var(--neon-green);
}
.btn img {
  width: 24px;
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
}
.attribution {
  font-size: 11px;
  color: var(--light-cyan);
  padding: 12px;
}
.attribution a {
  color: var(--neon-green);
}

/* RESPONSIVE STYLES */

@media (min-width: 768px) {
  .card {
    padding: 42px 36px 56px;
  }
  .card .quote {
    font-size: 28px;
  }
}
